@import '../../styles/Variables.module.scss';

.root {
  flex-shrink: 0;
}

.table {
  min-width: 650;
  
  .thead {
    background-color: $light-primary;

    .tcell {
      color: $light-secondary;
    }
  }
}
